{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
     a {
      text-decoration: none;
      color: #121314;
      position: relative;
    }
    a:hover{
          text-decoration: none;
    }

  body{
  }
  .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

</style>  
 <link rel="icon" type="image/png" href="{% static 'image/logo.png' %}">
        <title>KYQ-Courses/contact</title>
</head>

<body>


  <h1 class="text-center display-4 my-4"> 
<a href="https://www.facebook.com/profile.php?id=100019838168126" class="fa fa-facebook" style="padding-right:5px";></a>
                  <a href="https://twitter.com/kyq171" class="fa fa-twitter" target="_top" style="padding-right:5px";></a>
                  <a href="https://www.instagram.com/kimyoungq17/" class="fa fa-instagram" target="_top" style="padding-right:5px";></a>
                  <a href="https://github.com/kimyoungq17" class="fa fa-github" target="_top" style="padding-right:5px";></a>
                  <a href="mailto:younggue.kim@mail.mcgill.ca?Subject=from%20kyq17" target="_top" class="fa fa-envelope"></a>  



   </h1>

                
  <!-- Main Content -->
  <div class="container">
    <div class="row" style="margin-top:-50px">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <br><br><br>
            
<div class="card-columns">
  <div class="card">
    <a href="#" data-toggle="modal" data-target="#exampleModal">
    <img src="https://images.unsplash.com/photo-1563195127-681ff3349549?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="card-img-top">
  </a>
  </div>     

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <blockquote class="blockquote text-center">
  <p class="mb-0">If you focus on what you left behind, you will never be able to see what lies ahead. 
</p>
  <footer class="blockquote-footer">Guesteau in<cite title="Source Title">Ratatouille</cite></footer>
    </blockquote>
</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>


    <div class="card">
    <a href="#" data-toggle="modal" data-target="#exampleModal">
    <img src="https://images.unsplash.com/photo-1560237731-890b122a9b6c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="card-img-top">
  </a>
  </div>     

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <blockquote class="blockquote text-center">
  <p class="mb-0">You can't focus on what's going wrong. There's always a way to turn things around.</p>
  <footer class="blockquote-footer">Joy <cite title="Source Title">Inside Out</cite></footer>
    </blockquote>
</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>


  <div class="card">
    <a href="#" data-toggle="modal" data-target="#exampleModal">
    <img src="https://images.unsplash.com/photo-1565945985125-a59c660a9932?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top">
  </a>
  </div>     

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <blockquote class="blockquote text-center">
  <p class="mb-0">Your Mind is like this water, my friend. When it is agitated, it becomes difficult to see. But if you allow it to settle, the answer becomes clear.</p>
  <footer class="blockquote-footer">Master Ougway <cite title="Source Title">Kung Fu Panda</cite></footer>
    </blockquote>
</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>


  <div class="card">
    <a href="#" data-toggle="modal" data-target="#exampleModal">
    <img src="https://images.unsplash.com/photo-1559674691-20cf66cff81c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top">
  </a>
  </div>     

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <blockquote class="blockquote text-center">
  <p class="mb-0">I intended to listen to your voice, but it really was nothing but intentions. There's more going on than what people choose to tell you. But I convinced myself that was all there is to a person. I knew that but still I interpreted the stuff I didn't understand about you in ways convenient for me...</p>
  <footer class="blockquote-footer">Shouya Ishida <cite title="Source Title">Shape of Voice</cite></footer>
    </blockquote>
</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>


  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">KYQ</h5>
      <p class="card-text">I am also looking for an internship</p>
      <p class="card-text"><small class="text-muted">message me </small></p>
    </div>
  </div>
   <div class="card">
    <a href="#" data-toggle="modal" data-target="#exampleModal">
    <img src="https://images.unsplash.com/photo-1565945985123-4c67ab31eb8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top">
  </a>
  </div>     

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <blockquote class="blockquote text-center">
  <p class="mb-0">Success doesn't come for free. You have to do whatever it takes to seize your  moment</p>
  <footer class="blockquote-footer">Ernesto DelaCruz <cite title="Source Title">CoCo</cite></footer>
    </blockquote>
</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

  <div class="card">
    <a href="#" data-toggle="modal" data-target="#exampleModal">
    <img src="https://images.unsplash.com/photo-1565915775844-9b853c814c4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top">
  </a>
  </div>     

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <blockquote class="blockquote text-center">
  <p class="mb-0">...But I work hard and I never give up! That is my gift; That is my ninja way!</p>
  <footer class="blockquote-footer">Rock Lee <cite title="Source Title">Naruto</cite></footer>
    </blockquote>
</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

  <div class="card">
    <a href="#" data-toggle="modal" data-target="#exampleModal">
    <img src="https://images.unsplash.com/photo-1566153580922-16a9709fff30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80" class="card-img-top">
  </a>
  </div>     

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <blockquote class="blockquote text-center">
  <p class="mb-0">There's a benefit to losing...You get to learn from your mistakes.</p>
  <footer class="blockquote-footer">Megamind <cite title="Source Title">Megamind</cite></footer>
    </blockquote>
</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

</div>


  
     
 
 
      </div>
    </div>
  </div>


  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>


